:root {
    --clr__neutral--100: 0 0% 100%;
    --clr__primary--100: 0 0% 5%;
    --clr__primary--200: 0 0% 37%;
    --clr__primary--300: 0 0% 9%;

    --bg__primary--100: 0 0% 96%;
    --bg__primary--200: 0 0% 92%;
}