.footer {
    background: hsl(var(--bg__primary--200));
    width: 100%;

    padding-top: 25px;
    padding-bottom: 45px;
}
.footer__media {
    margin-inline: auto;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}
.footer__media > * {
    flex-basis: 100%;
    text-align: center;
}
.footer__icon {
    color: hsl(var(--clr__primary--200));
    transition: all 0.3s ease-in;
}
.footer__icon:hover {
    color: hsl(var(--clr__primary--300));
    transform: scale(1.1);
}
.footer__copyright {
    display: grid;
    place-items: center;
}
.footer__text {
    font-size: .95rem;
    color: hsl(var(--clr__primary--200));
}
.footer__text a {
    color: inherit;
    text-decoration: underline;
}