.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 0px;
}

.gallery__item {
    position: relative;
    height: 99%;
    margin-bottom: -8px;
    opacity: 0;
    transform: translateY(-20px);

}
.gallery > * {
    animation: fadeInDown; /* animation: <NAME> == @keyframe <NAME> declaration */
    animation-duration: 2s; /* don't forget to set a duration!  */
    animation-fill-mode: forwards;
}

.gallery__item:hover {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s ease-in;
}

.gallery__item img {
    width: 100%;
    aspect-ratio: 2 / 1.25;
    object-fit: cover;
}

.grid__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 30px;
    background-color: rgba(0, 0, 0, .85);
    color: hsl(var(--clr__neutral--100));
    opacity: 0;
    transition: .5s opacity, .5s background-color;
}

.grid__modal:hover {
    cursor: pointer;
    opacity: 1;
}

.modal__title {
    font-family: "Playfair Display", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(10px);
    margin-bottom: 1.2rem;
}

.modal__category {
    font-size: .95rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(10px);
    text-transform: uppercase;
    text-decoration: underline;
}
.modal__category a {
    color: hsl(var(--clr__neutral--100));
}
.modal__category a i {
    margin-right: 15px;
}
.grid__modal:hover .modal__title {
    opacity: 1;
    transform: translateY(0px);
    transition: .4s transform .3s, .4s opacity .3s;
}
.grid__modal:hover .modal__category {
    opacity: 1;
    transform: translateY(0px);
    transition: .4s transform .4s, .4s opacity .5s;
}