.about__head {
    background-color: hsl(var(--bg__primary--300));
    padding: 145px 10px;
    display: grid;
    justify-content: center;
}

.about__introduction {
    display: grid;
    place-items: center;
    position: relative;
}

.about__component--left::before {
    position: absolute;
    content: "";
    top: 35%;
    left: calc(50% - 18rem);
    height: 23px;
    width: 130px;
    border-top: 4px solid #242d2e;
    border-left: 4px solid #242d2e;
}

.about__component--right::before {
    position: absolute;
    content: "";
    top: 35%;
    right: calc(50% - 18rem);
    height: 23px;
    width: 130px;
    border-top: 4px solid #242d2e;
    border-right: 4px solid #242d2e;
}

.about__title {
    font-size: 48px;
    color: #242d2e;
    text-transform: uppercase;
}

.about__history {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #a4aeb0;
    line-height: 1.8;
}

@media only screen and (max-width: 768px) {
    .about__title {
        font-size: 30px;
        color: #242d2e;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .about__component--left::before {
        width: 60px;
        height: 15px;
        border-top: 3px solid #242d2e;
        left: calc(50% - 10rem);
    }

    .about__component--right::before {
        width: 60px;
        height: 15px;
        border-top: 3px solid #242d2e;
        right: calc(50% - 10rem);
    }
}

/* -------------- | 
|  Profile        |
| -------------- */
.about__body {
    background-color: hsl(var(--clr__neutral--100));
    padding: 0px 0px 110px;
}

.profile__column--info {
    padding-top: 125px;
}

.profile__title {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 30px;
    color: #232d2e;
    letter-spacing: 0.5em;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 5px;

}

.profile__name {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    text-transform: uppercase;

    margin-bottom: 40px;
}

.profile__desc {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    max-width: 70%;
    line-height: 1.6;
    color: #647072;
}

@media screen and (min-width: 768px) {
    .profile__row {
        display: flex;

    }

    .profile__column--info {
        padding-left: calc(5%);
    }

    .profile__row>* {
        /*     border: 2px solid red; */
    }
}

/* -------------- | 
|  Profile Stats  |
| -------------- */

.profile__stats {
    background-color: hsl(var(--clr__neutral--100));
    margin-bottom: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
}

.stats__number {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1;

    margin-bottom: 20px;
}

.stats__category {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
}